<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#fafaf9" />
<title>{{title}}</title>
<meta name="description" content="{{{description}}}" />
<link rel="preload" as="font" type="font/woff2" href="/fonts/geist-latin.woff2" crossorigin />
<link rel="preload" as="font" type="font/woff2" href="/fonts/geist-mono-latin.woff2" crossorigin />
<script>document.documentElement.classList.add("js")</script>
<link rel="stylesheet" href="{{root}}src/css/app.css" />
<script defer type="module" src="{{root}}src/js/main.js"></script>
